* {
    -darker-grey: #2a2a2a;
    -back-grey: #333333;
    -dark-grey: #6D6D6D;
    -grey: grey;
    -lighter-grey: #aaaaaa;
    -white-text: #dddddd;
    -less-white: #eeeeee;
    -white: white;

    -red-warn: #ff493f;
    -hp-pink: #d6627f;
    -ap-yellow: #baad6d;
    -hits-purple: #9882ad;
    -xp-blue: #7e96b1;

    -red-button: #c94040;
    -red-button-hover: #e05e5e;
    -red-button-click: #aa3434;

    -red-warn-border: red;
    -red-warn-background: #773b3c;

    /* suburbs */
    -suburb-safe: #77B788;
    -suburb-intact: #8290B7;
    -suburb-moderate: #F9E722;
    -suburb-dangerous: #FFAD21;
    -suburb-critical: #E85858;
    -suburb-abandoned: #706B70;

    /* meta block colours */
    -block-empty: #444444;
    -block-revive-point: #A1CB9B;
    -block-normal-building: #666666;
    -block-religious-building: #FFFFFF;
    -block-dark-building: #212121;

    /* non-building blocks */
    -block-carpark: -block-empty;
    -block-cemetery: -block-revive-point;
    -block-monument: -block-empty;
    -block-park: -block-revive-point;
    -block-street: -block-empty;
    -block-wasteland: -block-empty;
    -block-zoo: #6e4c41;

    /* fort blocks */
    -block-armoury: #878787;
    -block-barracks: #877666;
    -block-exerciseyard: #988776;
    -block-gatehouse: #989898;
    -block-infirmary: #FF9898;
    -block-storehouse: #989898;
    -block-trainingground: #769876;
    -block-vehicledepot: #367636;

    /* buildings blocks */
    -block-autorepair: #ED9E55;
    -block-bank: -block-dark-building;
    -block-building: -block-normal-building;
    -block-cathedral: -block-religious-building;
    -block-church: -block-religious-building;
    -block-cinema: -block-dark-building;
    -block-club: -block-dark-building;
    -block-enclosure: #936557;
    -block-factory: #c5c21c;
    -block-firestation: #E85858;
    -block-hospital: #FF9898;
    -block-hotel: -block-normal-building;
    -block-junkyard: -block-normal-building;
    -block-largechurch: -block-religious-building;
    -block-library: -block-normal-building;
    -block-mall: #27c6bc;
    -block-mansion: #720b50;
    -block-museum: -block-normal-building;
    -block-police: #436eb2;
    -block-powerstation: #e0b01f;
    -block-pub: -block-normal-building;
    -block-railway: -block-normal-building;
    -block-school: -block-normal-building;
    -block-stadium: #42b740;
    -block-tower: -block-normal-building;
    -block-warehouse: #a0935e;
}

#root {
	-fx-background-color: -back-grey;
	-fx-padding: 1px;
}
#StatusBar {
    -fx-background-color: -darker-grey;
}
#GhostmindLogo {
    -fx-font-size: 1.7em;
    -fx-text-fill: -white;
}
#Title {
    -fx-font-size: 1.5em;
    -fx-text-fill: -white;
}
#Subtitle {
    -fx-font-size: 1.1em;
    -fx-text-fill: -lighter-grey;
}
#RedWarnText {
    -fx-font-size: 1.1em;
    -fx-text-fill: -red-warn;
    -fx-font-weight: bold;
}
#BoxHeading {
    -fx-font-size: 1.2em;
    -fx-text-fill: -less-white;
    -fx-font-weight: bold;
}
#WhiteText {
    -fx-text-fill: -white-text;
}
#ConnectivityStatusText {
    -fx-font-weight: bold;
}
#MailCount {
    -fx-font-size: 1.1em;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
}
#MailCount .text {
    -fx-stroke: -red-warn;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
}
#DottedGreyBorder {
    -fx-border-style: segments(12, 6);
    -fx-border-color: -grey;
    -fx-border-width: 2px;
}
#SolidGreyBorder {
    -fx-border-style: solid;
    -fx-border-color: -grey;
    -fx-border-width: 2px;
}
#RedWarnBox {
    -fx-border-style: solid;
    -fx-border-color: -red-warn-border;
    -fx-border-width: 2px;
    -fx-background-color: -red-warn-background;
}
#RedXButton {
    -fx-background-color: -red-button;
    -fx-background-radius:0;
    -fx-padding: 3 7 3 7;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
#RedXButton:hover {
    -fx-background-color: -red-button-hover;
}
#RedXButton:pressed {
    -fx-background-color: -red-button-click;
}

#ProgressBarText {
    -fx-text-fill: -white-text;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}

#OutlineProgressBarText {
    -fx-text-fill: -white-text;
    -fx-font-weight: bold;
}
#OutlineProgressBarText .text {
    -fx-stroke: -darker-grey;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

#HpBar {
    -fx-accent: -hp-pink;
}
#ApBar {
    -fx-accent: -ap-yellow;
}
#HitsBar {
    -fx-accent: -hits-purple;
}
#XpBar {
    -fx-accent: -xp-blue;
}

.progress-bar > .bar {
    -fx-padding: 8px;
}
.progress-bar > .track {
    -fx-control-inner-background: -dark-grey;
}

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.text-field {
    -fx-text-fill: -less-white;
    -fx-prompt-text-fill: -lighter-grey;
    -fx-border-color: -grey;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane {
    -fx-tab-min-width:0px;
}
.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab {
    -fx-background-color: #8b8686;
}
.tab-pane .tab:selected {
    -fx-background-color: #3c3c3c;
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #4b4848;
    /* -fx-font-size: 12px; */
    -fx-font-weight: bold;
}
.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #83989b;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}