* {
    -darker-grey: #2a2a2a;
    -back-grey: #333333;
    -dark-grey: #6D6D6D;
    -grey: grey;
    -lighter-grey: #aaaaaa;
    -white-text: #dddddd;
    -less-white: #eeeeee;
    -white: white;

    -red-warn: #ff493f;
    -hp-pink: #d6627f;
    -ap-yellow: #baad6d;
    -hits-purple: #9882ad;

    -red-button: #c94040;
    -red-button-hover: #e05e5e;
    -red-button-click: #aa3434;

    -red-warn-border: red;
    -red-warn-background: #773b3c;

    -suburb-safe: #65D880;
    -suburb-intact: #7FB8FF;
    -suburb-moderate: #EAED4B;
    -suburb-dangerous: #FF9859;
    -suburb-critical: #E85858;
    -suburb-abandoned: #998C99;
}

#root {
	-fx-background-color: -back-grey;
	-fx-padding: 1px;
}
#StatusBar {
    -fx-background-color: -darker-grey;
}
#GhostmindLogo {
    -fx-font-size: 1.7em;
    -fx-text-fill: -white;
}
#Title {
    -fx-font-size: 1.5em;
    -fx-text-fill: -white;
}
#Subtitle {
    -fx-font-size: 1.1em;
    -fx-text-fill: -lighter-grey;
}
#RedWarnText {
    -fx-font-size: 1.1em;
    -fx-text-fill: -red-warn;
    -fx-font-weight: bold;
}
#BoxHeading {
    -fx-font-size: 1.2em;
    -fx-text-fill: -less-white;
    -fx-font-weight: bold;
}
#WhiteText {
    -fx-text-fill: -white-text;
}
#CharacterBoxStatusText {
    -fx-font-weight: bold;
}
#MailCount {
    -fx-font-size: 1.1em;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
}
#MailCount .text {
    -fx-stroke: -red-warn;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
}
#DottedGreyBorder {
    -fx-border-style: segments(12, 6);
    -fx-border-color: -grey;
    -fx-border-width: 2px;
}
#SolidGreyBorder {
    -fx-border-style: solid;
    -fx-border-color: -grey;
    -fx-border-width: 2px;
}
#RedWarnBox {
    -fx-border-style: solid;
    -fx-border-color: -red-warn-border;
    -fx-border-width: 2px;
    -fx-background-color: -red-warn-background;
}
#RedXButton {
    -fx-background-color: -red-button;
    -fx-background-radius:0;
    -fx-padding: 3 7 3 7;
    -fx-text-fill: -white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
#RedXButton:hover {
    -fx-background-color: -red-button-hover;
}
#RedXButton:pressed {
    -fx-background-color: -red-button-click;
}

#ProgressBarText {
    -fx-text-fill: -white-text;
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}

#OutlineProgressBarText {
    -fx-text-fill: -white-text;
    -fx-font-weight: bold;
}
#OutlineProgressBarText .text {
    -fx-stroke: -darker-grey;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

#HpBar {
    -fx-accent: -hp-pink;
}

#ApBar {
    -fx-accent: -ap-yellow;
}

#HitsBar {
    -fx-accent: -hits-purple;
}

.progress-bar > .bar {
    -fx-padding: 8px;
}
.progress-bar > .track {
    -fx-control-inner-background: -dark-grey;
}

.progress-bar > .bar, .progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
